<h2>マイページ</h2>

<p><strong>登録情報</strong>　<% link_to "編集する", edit_customer_path %></p>







<p><strong>配送先</strong>　<% link_to "一覧を見る", addresses_path %></p>
<p><strong>注文履歴</strong>　<% link_to "一覧を見る", orders_path %></p>
