<h2>会員一覧</h2>

      <table class= "table">
        <thead>
          <tr>
            <th>会員id</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
      <% @customers.each do |customer|%>
          <tr>
            <td><p><%= customer.id %></p>
            </td>
            <td><p><%= link_to customer.full_name, admin_customer_path(customer)%></p>
            </td>
             <td><p><%= customer.email %></p>
            </td>
            <td><p><% if customer.is_deleted == false %>
                     有効
                   <% else %>
                     退会
                   <% end %>
                </p>
            </td>
          </tr>
            <% end %>
        </tbody>
      </table>
