<h2>ジャンル編集</h2>
<%= form_with model: @genre do |f| %>
  <div class="field">
    <%= f.label "ジャンル名" %><br />
  <%= f.file_field :name %></br>
  </div>

  <div class="actions">
    <%= f.submit "変更を保存" %>
  </div>
<% end %>