<p>注文履歴詳細</p>

<strong>支払方法</strong>

<%= f.label "クレジットカード" %>
    <%= f.radio_button :is_active, true %>
    <%#= f.label Item.is_actives.key(1) %>
      <%= f.label "銀行振り込み"%>
  <%= f.radio_button :is_active, false %>
<strong>お届け先</strong>