<h1><strong>商品一覧</strong></h1><h3>(全x件)</h3>


<div class= "items_box">
  <div class="row">
      <% @items.each do |item| %>
      <div class="col-3">
      <div class= "image">
      <%= link_to item_path(item.id) do %>
        <% image_tag item.get_image(100,50) %>
      <% end %>
      <%= item.name %>
      ￥<%= item.price%>
      </div>
    </div>
      <% end %>

  </div>
    <!--インラインメゾットをつかう-->
  </div>
